@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.container {
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}




/* src/styles/contact.module.css */

/* Scoped local class for the form element */
.form {
  display: flex;
  flex-direction: column;
}

/* Scoped local class for the textarea */
.textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

/* Scoped local class for the button */
.button {
  background-color: #4CAF50;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}