@tailwind base;
@tailwind components;
@tailwind utilities;

.hello{
    clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%);
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/* Width and Height of the scrollbar track */
::-webkit-scrollbar {
    width: 5px;
    height: 12px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
  /* Handle on active */
  ::-webkit-scrollbar-thumb:active {
    background: #333;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(13deg, #2bd0e6 14%, #999d96 64%);
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }


  textarea{
    resize: none;
  }

  h1{
    text-shadow: 1px 1px 1px #000000;
  }


  .cv-container {
    font-family: Arial, sans-serif;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .cv-header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .cv-header h1 {
    font-size: 2.5rem;
    font-weight: bold;
  }
  
  .cv-header p {
    font-size: 1.2rem;
    margin: 5px 0;
  }
  
  .cv-content {
    margin-top: 20px;
  }
  
  .cv-content h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
  }
  
  .cv-content ul {
    list-style-type: none;
    padding: 0;
  }
  
  .cv-content ul li {
    font-size: 1.2rem;
    margin: 5px 0;
  }
  
  .job, .education {
    margin-bottom: 20px;
  }
  
  .download-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  .download-btn:hover {
    background-color: #45a049;
  }
  